#__nuxt {
  font-family: 'Montserrat', sans-serif;
}

.container {
  @apply w-full max-w-[1200px] m-auto;
}

/* Global Page Transition */
.page-enter-active,
.page-leave-active {
  transition: opacity 0.2s;
}

.page-enter,
.page-leave-to {
  opacity: 0;
}
